<div class="top_main">
  <% if user_signed_in? %>
    <div class="user_body">
      <p>ログインしています</p>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    </div>
  <% elsif admin_signed_in? %>
    <div class="admin_body">
      <p>管理者としてログインしています</p>
      <%= link_to "問題を作成する", new_question_path %>
      <p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
    </div>
  <% else %>
    <div class="user_authentication">
      <div class="user_login">
        <%= link_to "ログイン", new_user_session_path %>
        </div>
      <div class="user_registrations">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
  <% end %>
</div>
<div class="sample_q">
  <p>サンプル問題</p>
</div>
<% unless user_signed_in? or admin_signed_in? %>
  <div class="admin_authentication">
    <%= link_to "管理者ログイン", new_admin_session_path %>
  </div>
<% end %>
