<div class="admin_sessions_new_main">
  <div class="admin_sessions_new_container">
    <h2>管理者ログイン</h2>
    <%= form_with(model: resource, scope: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p class="admin_sessions_label"><%= f.label :email%></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <p class="admin_sesssions_label"><%= f.label :password %></p>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="admin_container">
      <div class="admin_text">管理者アカウント</div>
      <div class="admin_mail">example@example.com</div>
      <div class="admin_pass">foobar</div>
    </div>
  </div>
</div>
