<div class="user_registrations_new_main">
  <div class="user_registrations_new_container">
    <h2>新規登録</h2>
    <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <p class="user_registrations_label"><%= f.label :email %></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <p class="user_registrations_label"><%= f.label :password %></p>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <p class="user_registrations_label"><%= f.label :password_confirmation %></p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <%= f.submit "新規登録", class: "user_registrations_submit" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
